button
  margin: $small-distance
  padding: $medium-distance
  width: $medium-button-width
  font-family: Arial
  font-size: $font-size
  background-color: rgba(0,0,0,0)
  box-shadow: none
  outline: none
  border: $border-width solid $solid-color
  border-radius: $border-width
  &:hover
    background-color: rgba(0,0,0,.3)
  &:active
    background-color: rgba(0,0,0,1)
    color: $background-color

.button-standard
  padding: $medium-distance
  margin: $small-distance
  &:first-of-type
    margin-left: 0

$button-icon-height: 24px
$button-icon-border-width: 2px

.button-icon
  height: $button-icon-height
  width: $button-icon-height
  border: .1px $background-color solid
  border-radius: 50%
  margin: 0
  padding: 0
  &:after
    display: inline-block
    width: 100%
    height: 100%
    box-sizing: border-box
    border: $button-icon-border-width $border-color solid
    border-radius: 50%
    font-weight: $bold-font-weight
    line-height: $button-icon-height
    font-size: 1rem
    text-align: center
    text-transform: uppercase

h1 .button-icon
  margin-left: $medium-distance
  &:after
    content: '?'
