$x-small-distance: 2px
$small-distance: 5px
$medium-distance: 10px
$large-distance: 20px

$bold-font-weight: 800
$medium-font-weight: 500

$border-width: 1px

$medium-button-width: 100px

$background-color: white;
$solid-color: black;
$hint-color: rgb(10, 10, 10);

$font-size: 20px
$h1-font-size: 1.6rem
$h2-font-size: 1.2rem
$hint-font-size: .8rem
$footer-font-size: 16px