fieldset
  div
    display: inline-block
    padding: $x-small-distance $small-distance
    margin-right: $medium-distance
  div:first-of-type
    display: block
  &:first-of-type
    padding-top: 0

h1
  display: flex
  align-items: center

footer
  img, address a
    display: flex
    align-items: center
    padding: $small-distance 0
  svg.button-icon
    margin-right: $small-distance
  a
    font-style: normal
    text-decoration: none
    color: inherit
    &:hover
      text-decoration: underline